body{
	color: #333;
}
h2{
	color: #FF6161;
	margin: 30px 0 10px;
}

.important{
	color: #c00;
	font-weight: bold;
}
.less-important{
	color: #aaa;
}

#log{
	line-height: 1.5;
}

.easy-select{
	font-weight: bold;
	text-decoration: underline;
}