body{
    background-color: #444;
    background-image: url('http://thec-public.qiniudn.com/acgindex.backend.bg.20140320.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #ccc;
    font-family: 'Microsoft Yahei';
}
h1{
    color: #fff;
    font-size: 2em;
    line-height: 1.625;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
    small{
        color: #f90;
        font-size: .25em;
        line-height: 3em;
        margin-left: .3em;
    }
}
.bg-mask{
    background: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}